body {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  height: 100vh;
  background-image: url("background_img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#nowTime {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
  font-weight: 50px;
  color: white;
  margin-top: 250px;
  margin-bottom: 0;
}
#hello {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin: 0;
  color: white;
}
.username {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  width: 120px;
}
#famous {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 50px;
  margin-bottom: 10px;
  color: white;
  height: 400px;
}
#today {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  padding-top: 60px;
  margin: 0;
  color: white;
}
input {
  background-color: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1;
  border-bottom-color: white;
  text-align: center;
}
input:focus {
  outline: none;
  box-shadow: none;
}
#timeUnder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mainGoal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.today {
  font-size: 40px;
  color: white;
  width: 580px;
  padding-top: 40px;
}

#word {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  border-bottom: 10;
  border-color: white;
}
